In [67]:
import os
import pandas as pd
import numpy as np

from typing import List, Any, Union

In [131]:
# TODO: 01 -> read the output_3.csv
def read_csv_and_cast_do_dataframe(path: str = None, delimiter: str = None) -> pd.core.frame.DataFrame:
    if path == None:
        raise "path==None should be string"
    
    elif delimiter == None:
        raise "delimiter==None should be string"
    
    else:
        try:        
            __df: pd.core.frame.DataFrame = pd.read_csv(path, delimiter=delimiter)
            return __df
        except:
            raise "Error while reading the csv file. path or delimiter is incorrect"


path_csv = os.path.join('input', 'output_3.csv')
delimiter = '>'

df = read_csv_and_cast_do_dataframe(path_csv, delimiter)

def copy_dataframe(__df: pd.core.frame.DataFrame = None,\
                   __n_rows_head: int = 0) -> pd.core.frame.DataFrame:
    """
    __df : the dataframe to be copied
    __n_rows_head : number of elements of head to be copied
    """
                
    if not type(__n_rows_head) == int:
        raise  BaseException(f"__n_rows_head should be int, but {type(__n_rows_head)} was given")
    elif __n_rows_head == 0:
        try:
            print('df copy')
            return __df.copy()
        except:
            raise f"__df should be pd.core.frame.DataFrame, but {type(__df)} was given"
    else:
        try:
            print('df head copy()')
            return __df.head(__n_rows_head).copy()
        except:
            raise f"__df should be pd.core.frame.DataFrame, but {type(__df)} was given"
        
df_head = copy_dataframe(df, 5)
df_head

df head copy()

              gene      variant   population alelle  frequency   count
0  ENSG00000159189  rs200206736   ESP6500:AA      G   1.000000    4378
1  ENSG00000159189  rs200206736   ESP6500:AA      A   0.000000       0
2  ENSG00000159189  rs200206736   ESP6500:EA      G   0.999900    8545
3  ENSG00000159189  rs200206736   ESP6500:EA      A   0.000117       1
4  ENSG00000159189  rs200206736  gnomADe:ALL      G   0.999872  195679

In [140]:
# TODO: 02 -> heatmap 01 -> select columns from heatmap 01

# way 01
# df_head.iloc[:,0:3]

# way 02
def select_columns_from_dataframe(__df: pd.core.frame.DataFrame,\
                           __li_columns: List[Union[str, int]]):

    try:
        return __df[__li_columns]
    except:
        raise "Error while select __df[li_columns]. Some columns maybe don't exist in dataframe"

def set_dataframe_index_from_inner_column(__df: pd.core.frame.DataFrame,\
                       index: Union[str, List[Union[str, int]], tuple, pd.core.series.Series] = None): 
    try:
        return __df.set_index(index)
    except:
        raise "index is not present dataframe columns"

li_columns_hmp_1 = ['gene', 'variant', 'population']
df_hmp1_columns_selected = select_columns_from_dataframe(df, li_columns_hmp_1)
df_hmp1_columns_selected

index_column_hmp_1 = 'gene'
df_hmp1_indexed_gene = set_dataframe_index_from_inner_column(df_hmp1_columns_selected, index_column_hmp_1)
df_hmp1_indexed_gene
#type(df_head.iloc[:,0:3]), df_head.iloc[:,0:3, ])

                     variant         population
gene
ENSG00000159189  rs200206736         ESP6500:AA
ENSG00000159189  rs200206736         ESP6500:AA
ENSG00000159189  rs200206736         ESP6500:EA
ENSG00000159189  rs200206736         ESP6500:EA
ENSG00000159189  rs200206736        gnomADe:ALL
...                      ...                ...
ENSG00000136689  rs121913162  ALFA:SAMN10492704
ENSG00000136689  rs121913162  ALFA:SAMN10492705
ENSG00000136689  rs121913162  ALFA:SAMN10492705
ENSG00000136689  rs121913162  ALFA:SAMN11605645
ENSG00000136689  rs121913162  ALFA:SAMN11605645

[1125530 rows x 2 columns]

In [136]:
# TODO: 03 -> heatmap 01 -> count variants per gene
# df.count()
# df_head.count(axis='columns')
# df.value_counts().to_dict()
# df_head['gene']
# df_head.columns